html {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;

}
header {
    display: flex;
    justify-content: space-between;
}
.header-02 {
    display: flex;
    padding: 20px;
}
.header-02 a {
    text-decoration: none;
    color: #fff;
}
.header-02-01 a {
    border: 1px solid #FF4F6F;
    background-color: #FF4F6F;
    padding: 15px 60px;
}
.header-02-02 a {
    border: 1px solid green;
    background-color: green;
    padding: 15px 60px;
    margin-left: 10px;
}
.main-nav nav ul {
    display: flex;
    justify-content: space-around;
}
.main-nav nav ul li {
    list-style: none;
}
.main-nav nav ul li a {
    text-decoration: none;
    color: gray;
}
.main-img img {
    width: 100%;
}
.main-text h2 {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding-top: 40px;
}
.main-text p {
    font-size: 1rem;
    color: gray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
/*お問合せフォーム*/
.contact {
    width: 100%;
    margin-bottom: 20px;
    text-align: justify;
}
.contact-item {
    padding: 25px;
}
.contact-item span {
    border: 1px solid#FF4F6F;
    background-color: #FF4F6F;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 2px;
    margin-left: 10px;
}
.contact-skill a {
    color: green;
    text-align: left;
}

.contact-body input {
    padding: 10px 0;
    width: 1600px;
    margin-left: 50px;
}
.contact-body-01 input {
  padding: 10px 0;
  width: 300px;
  margin-left: 50px;
}
.contact-body-01 ::placeholder {
  color: #cecdcd;
}
.contact-skill input {
    padding: 0;
    margin-left: 50px;
}
select {
    width: 800px;
}
textarea {
  margin-left: 50px;
  width: 800px;
  height: 100px;
}

/*確認ボタン*/
.contact-submit {
    width: 250px;
    padding: 10px;
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid green;
    color: white;
    background-color: green;
    cursor: pointer;
    appearance: none;
}
/*２つのボタン*/
.main-06 {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 30px;
    font-size: 0.9rem;
}
.main-06-01 {
    background-color: white;
    padding: 50px 200px;
    text-align: center;
}
.main-06-01 a {
    color: white;
    border: 1px solid #FF4F6F;
    background-color: #FF4F6F;
    padding: 15px 100px;
    text-decoration: none;
}
.main-06-02 {
    background-color: white;
    padding: 50px 200px;
    text-align: center;
}
.main-06-02 a {
    color: white;
    border: 1px solid green;
    background-color: green;
    padding: 15px 100px;
    text-decoration: none;
}
.main-07 {
    padding-top: 200px;
    font-size: 0.9rem;
    color: gray;
    text-align: center;
}
.main-07 h2 {
    color: black;
}

/*フッター*/
.footer-01 nav ul {
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;
}
.footer-01 nav ul li {
    list-style: none;
}
.footer-01 nav ul li a {
    text-decoration: none;
    color: gray;
}
.footer-02 h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    color: gray;
}